/LKKT/nbproject/private/
/LKKT/build/
/0930/build/
/0930/nbproject/private/
/10.07/build/
/10.07/dist/
/10.07/nbproject/private/
/10.11/build/
/10.11/nbproject/private/
/Adattipusok/build/
/Adattipusok/nbproject/private/
/BeolvasasRandomizalas/build/
/BeolvasasRandomizalas/nbproject/private/
/Ciklusok/build/
/Ciklusok/nbproject/private/
/Dolgozat/build/
/Dolgozat/nbproject/private/
/Muveletek/build/
/Muveletek/nbproject/private/
/MyFirst/build/
/MyFirst/nbproject/private/
/StringMetodusok/build/
/StringMetodusok/nbproject/private/
/Tombok/build/
/Tombok/nbproject/private/
